body {
background-color: #04A6EB;
color:#000000;
width:500px;
margin-right:10px;
margin-left:10px;}

button {
padding:5px 20px;
background-color:ã€€#FF0000;
border-style: #000000;}

input {height:20px;}
